audio/
libsfctest/gfx/
Debug/
Release/
*.s
*.bat
*.sfc
*.smc
*.sym
*.spc
*.bnk
*.rom
*.wav
*.pnproj
*.pnps
*.vcproj
*.vim
*.swp
*.tmp
*.sln
*.ncb
*.suo
*.user

.*~
*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.tags
tags
Icon?
ehthumbs.db
Thumbs.db
